
.navigation{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;
width: 496px;
height: 30px;
padding-left: 472px;
padding-top: 25px;
order: 0;
flex-grow: 0;
z-index: 0;
Top: 25px;
Left: 472px;
Gap: 40px;
}
.AHo{
width: 53px;
height: 25px;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;
color: #070707;
flex: none;
order: 0;
flex-grow: 0;
}
.A2{
width: 86px;
height: 25px;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;
color: #828282;
flex: none;
order: 1;
flex-grow: 0;
}
.SK2{
width: 44px;
height: 25px;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;
color: #828282;
flex: none;
order: 2;
flex-grow: 0;
}
.Por3{
width: 76px;
height: 25px;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.02em;
color: #828282;
flex: none;
order: 3;
flex-grow: 0;
}
.Cont4{
width: 77px;
height: 25px;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;
color: #828282;
flex: none;
order: 4;
flex-grow: 0;
}
   
.photoman{
width: 970px;
height: 387px;
padding-left: 235px;
mix-blend-mode: darken;
flex: none;
order: 1;
flex-grow: 0;
  
}
.Vector{
   padding-left: 235px;
    width: 970px;
   padding-top: 25px;
    left: 235px;
   
    
}
.denisnov{
    width: 300px;
    height: 60px;
    padding-left: 235px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
} 
 .backgr{
background-color: #F6F6F6;
padding-top: 100px;
padding-bottom: 100px;
 }  
.about{
width: 200px;
height: 40px;
padding-left: 650px;
padding-top: 80px;
font-family: 'Open Sans';
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1
}
.aboutpar{
width: 480px;
height: 50px;
padding-left: 500px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #070707;
flex: none;
order: 0;
flex-grow: 0;
}
.courses{
    width: 406px;
    height: 50px;
    font-family: 'Open Sans';
    padding-left: 537px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 1;
    flex-grow: 0;  
}
.projects{
width: 321px;
height: 50px;
padding-left: 580px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #070707;
flex: none;
order: 2;
flex-grow: 0;
}
.Skills{
    width: 120px;
    height: 40px;
    padding-left: 680px;
    padding-top: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.Skillspar{
    width: 250px;
    height: 24px;
    padding-left: 620px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 97px;
    width: 970px;
    height: 230px;
}
.Ps{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    padding-left: 550px;
    width: 170px;
    height: 230px
}
.Ai{
display: flex;
flex-direction: column;
float: left;
align-items: center;
padding: 0px;
gap: 60px;
width: 170px;
height: 230px;
flex: none;
order: 1;
flex-grow: 0;
}
.AF{
display: flex;
flex-direction: column;
float: left;
align-items: center;
padding: 0px;
gap: 60px;
width: 170px;
height: 230px;
flex: none;
order: 2;
}
.Figma{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;
width: 170px;
height: 230px;
flex: none;
order: 3;
}
.background{
background-color: #F6F6F6;
margin-top: 100px;
padding-bottom: 100px;
}
.Portfolio{
    width: 150px;
    height: 40px;
    font-family: 'Open Sans';
    padding-left: 680px;
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.Fashion-Store{
 width: 970px;
height: 540px;
padding-left: 235px;
padding-top: 50px;
flex: none;
order: 0;
flex-grow: 0;
}
.FS-HP{
    width: 200px;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    padding-left: 620px;
    padding-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.reebok_web{
width: 970px;
height: 540px;
padding-left: 235px;
padding-top: 70px;
flex: none;
order: 0;
flex-grow: 0;
}
.RC-C{
width: 200px;
height: 24px;
font-family: 'Open Sans';
padding-left: 620px;
padding-top: 40px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
color: #070707;
flex: none;
order: 1;
flex-grow: 0;
}
.braun-landing{
width: 970px;
height: 540px;
padding-left: 235px;
padding-top: 70px;
flex: none;
order: 0;
flex-grow: 0;
}
.BLP-C{
 width: 260px;
height: 24px;
font-family: 'Open Sans';
padding-left: 620px;
padding-top: 40px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
color: #070707;
flex: none;
order: 1;
flex-grow: 0;
}
.Contacts{
    width: 150px;
    height: 40px;
    font-family: 'Open Sans';
    padding-left: 680px;
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.Contactspar{
    width: 280px;
    height: 46px;
    font-family: 'Open Sans';
    padding-left: 620px;
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.button{
    display: flex;
    flex-direction: row;
    margin-left: 665px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text{
    width: 148px;
    height: 24px;
    font-family: 'Open Sans';
   
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.linkedin{
width: 40px;
height: 40px;
padding-left: 610px;
padding-top: 30px;
order: 0;
flex-grow: 0;
}
.instagram{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    order: 1;
    flex-grow: 0;   
}
.behance{
width: 40px;
height: 40px;
margin-left: 50px;
order: 2;
flex-grow: 0;
}
.dribbble{
width: 40px;
height: 40px;
margin-left: 50px;
order: 3;
flex-grow: 0;
}
.end{
    width: 200px;
    height: 60px;
    font-family: 'Open Sans';
    padding-left: 650px;
    padding-top: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    flex: none;
    order: 2;
    flex-grow: 0;
}